fish_history
bash_history
zsh_history
weechat/logs
ncmpcpp/error.log
config/fish/fishd*
ssh/config
vim/.netrwhist
.undodir
tags
Session.vim
vim/plugged
./vim/sessions/default.vim
vim/sessions
vim/plugins-neovim
vim/plugins-vim
config/nvim/.netrwhist
