[submodule "config/i3blocks-crypto-bitfinex"]
	path = config/i3blocks-crypto-bitfinex
	url = http://github.com/f3rno/i3blocks-crypto-bitfinex
[submodule "config/i3blocks-crypto-bitfinex-chart"]
	path = config/i3blocks-crypto-bitfinex-chart
	url = http://github.com/f3rno/i3blocks-crypto-bitfinex-chart
[submodule "config/i3blocks"]
	path = config/i3blocks
	url = https://github.com/vivien/i3blocks-contrib
[submodule "bash-powerline"]
	path = bash-powerline
	url = http://github.com/riobard/bash-powerline
[submodule "npm-completion-fast"]
	path = npm-completion-fast
	url = http://github.com/seavan/npm-completion-fast
[submodule "xf-bash-lib"]
	path = xf-bash-lib
	url = http://github.com/xf3rno/xf-bash-lib
