fish_history
bash_history
zsh_history
weechat/weechat.log
weechat/weechat_fifo
weechat/xfer
weechat/logs
ncmpcpp/error.log
config/fish/fishd*
ssh/config
vim/.netrwhist
.undodir
tags
Session.vim
vim/plugged
vim/sessions
vim/undodir

vim-plugins/*
nvim-plugins/*

!nvim-plugins/.keep
!vim-plugins/.keep

local/bin
local/lib
local/include
local/share

config/nvim/undodir
config/nvim/.netrwhist
config/nvim/sessions
